@model WebProject.Domain.Project

@{
    ViewData["Title"] = "Удаление проекта";
}

<h1>Удалить проект</h1>

<h3>Вы уверены, что хотите удалить этот проект?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyOwner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyOwner)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyContractor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyContractor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyOwnerContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyOwnerContactPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyContractorContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyContractorContactPerson)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priority)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priority)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку проектов</a>
    </form>
</div>
